
<div class="entry-brand-banner">
    <div class="container">
        <div class="entry-title">
            <h1>品牌信息</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="entry-dis-content">
        <h1>雷堡五星苏格兰威士忌</h1>
    </div>
    <div class="entry-brand-wrap">
        <div class="entry-brand-info row flex ">
            <div class="col col-4">
                <div class="entry-brand-pic"><img src="/images/b6.jpg" /></div>
            </div>
            <div class="col col-8">
                <div class="entry-brand-txt">
                    <p>
                        全球第九最畅销的苏格兰威士忌品牌。
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>
                        雷堡五星苏格兰威士忌品牌是精心蒸馏酿造、陈年并灌装于我们苏格兰的酿酒厂。扬名于100多个国家的雷堡五星，以其高品质和广受赞誉的柔滑口感而名声卓著。2014年间9升桶销260万桶的销量成为苏格兰威士忌品类的领导品牌。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>