
<div class="entry-brand-banner">
    <div class="container">
        <div class="entry-title">
            <h1>品牌信息</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="entry-dis-content">
        <h1>卡慕干邑</h1>
    </div>
    <div class="entry-brand-wrap">
        <div class="entry-brand-info row flex ">
            <div class="col col-4">
                <div class="entry-brand-pic"><img src="/images/b1.jpg" /></div>
            </div>
            <div class="col col-8">
                <div class="entry-brand-txt">
                    <p>
                        卡慕干邑，世界五大干邑品牌之一。作为全球最大的由家族拥有的干邑世家，自1863年创立以来，迄今唯一仍由创始家族独立拥有和经营，以品质和创新享誉全球，受全球干邑鉴赏家们所尊崇。
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>五代传承的卡慕家族，与这片干邑土地紧紧地系在一起，他们一丝不苟地守护着品牌的最初价值。卡慕之所以能够稳定持续地发展，是它独特的经营模式 — 父子相授，世代相传，以及固守的土地，葡萄园及其果实。除了对土地及其成果的热爱和尊重，卡慕文化还建立在：不断探索与创新酒香品质的基础上。</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>除了是商人以外，卡慕更将自己定义为葡萄园种植者、探索家以及热情的品鉴爱好者。卡慕城堡（Le Plessis），卡慕家族世代所居住的地方，位于炙手可热的布特妮产区的核心地带。这也印证了卡慕家族对干邑小镇的特殊情结。如今，卡慕家族是布特妮法定产区最大葡萄园拥有者。</p>
                </div>
            </div>
        </div>
    </div>
</div>