@{
    ViewBag.Title = "销售渠道";
}
<div class="entry-dis-banner">
    <div class="container">
        <div class="entry-title">
            <h1>销售渠道</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="entry-dis-content">
        <h1>销售渠道</h1>
    </div>
    <div class="entry-dis-channel">
        <div class="col-8">
            <p>
                远流致力于满足消费者对高品质酒类产品日益增长的需求，积极维护品牌与消费者之间的紧密关系，
                我们建立了近乎覆盖全国的销售与分销网络。
            </p>
        </div>
        <div class="row">
            <div class="col">
                <div class="distribution-item">
                    <img src="~/images/distribution_01.jpg" />
                    <div class="distribution-title">酒店</div>
                </div>
                <div class="distribution-item">
                    <img src="~/images/distribution_02.jpg" />
                    <div class="distribution-title">餐厅</div>
                </div>
                <div class="distribution-item">
                    <img src="~/images/distribution_08.jpg" />
                    <div class="distribution-title">酒吧</div>
                </div>
                <div class="distribution-item">
                    <img src="~/images/distribution_04.jpg" />
                    <div class="distribution-title">咖啡厅</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="distribution-item">
                    <img src="~/images/distribution_05.jpg" />
                    <div class="distribution-title">酒行</div>
                </div>
                <div class="distribution-item">
                    <img src="~/images/distribution_06.jpg" />
                    <div class="distribution-title">百货商超</div>
                </div>
                <div class="distribution-item">
                    <img src="~/images/distribution_07.jpg" />
                    <div class="distribution-title">夜场</div>
                </div>
                <div class="distribution-item">
                    <img src="~/images/distribution_03.jpg" />
                    <div class="distribution-title">KTV</div>
                </div>
            </div>
        </div>
    </div>
</div>