
<div class="entry-brand-banner">
    <div class="container">
        <div class="entry-title">
            <h1>品牌信息</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="entry-dis-content">
        <h1>郎巴德雅文邑</h1>
    </div>
    <div class="entry-brand-wrap">
        <div class="entry-brand-info row flex ">
            <div class="col col-4">
                <div class="entry-brand-pic"><img src="/images/b7.jpg" /></div>
            </div>
            <div class="col col-8">
                <div class="entry-brand-txt">
                    <p>
                        郎巴德酒庄(Château de Laubade) 于1870年创建于下雅文邑(Bas Armagnac)核心区域–该地区土质条件最优越的一块沃土–面朝比利牛斯山脉。该酒庄历经多年发展，现已成为全球最大且最负盛名的独家葡萄园雅文邑白兰地生产商：从葡萄园种植到装瓶出厂，所有郎巴德酒庄雅文邑白兰地的生产工序都是在该酒庄内完成。之后于1974年被雷谷格家族收购。今天以Arnaud和Denis Lesgourges两兄弟为代表的该家族第三代继续以追求卓越品质为宗旨从事酒庄经营。
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>
                        郎巴德酒庄是现今雅文邑酒庄中唯一被连续六年授予“世界级酒厂”称号这一最高等级盛誉的酒商（自2010年起）。她同时也是现今最享有盛名的雅文邑品牌，在众多酒类比赛获得超过120个国际奖项。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>