@{
    ViewBag.Title = "新闻中心";
}
@model IEnumerable<CAMUS.Models.News>
<div class="entry-news-banner">
    <div class="container">
        <div class="entry-title">
            <h1>新闻中心</h1>
        </div>
    </div>
</div>
<div class="container entry-new-content">
    <div class="new-item">
        <div class="entry-new-pic">
            <a href="https://mp.weixin.qq.com/s?__biz=MjM5NDM1ODA2MQ==&mid=2650432325&idx=1&sn=944766e1dfb3afcfde6624a1a1bd6241&chksm=be86350789f1bc1168024736b3419cfb3321dc5f224cd7e405bac06d4de71abff0d673ee3879&mpshare=1&scene=1&srcid=0615z0r6X9rC0c73bJWT2Xkh&pass_ticket=Zn1xp0TNyKgemnXZ9uwuAzNXwkF%2BGbmjpmB6HJcZGChLgtl%2B4%2FjwbZKiIMkdG6Z3#rd" target="_blank"><img src="/images/new1.png" /></a>
        </div>
        <div class="entry-new-detail">
            <h3>五月精彩活动回顾 | 卡慕远流鼎力支持《男人风尚》八周年生日派对</h3>
            <p>5月18日的魔都，沪上名流绅士蠢蠢欲动，准备奔赴一场城中潮流盛典——《男人风尚》杂志八周年生日派对</p>
            <div class="read-more">
                <a href="https://mp.weixin.qq.com/s?__biz=MjM5NDM1ODA2MQ==&mid=2650432325&idx=1&sn=944766e1dfb3afcfde6624a1a1bd6241&chksm=be86350789f1bc1168024736b3419cfb3321dc5f224cd7e405bac06d4de71abff0d673ee3879&mpshare=1&scene=1&srcid=0615z0r6X9rC0c73bJWT2Xkh&pass_ticket=Zn1xp0TNyKgemnXZ9uwuAzNXwkF%2BGbmjpmB6HJcZGChLgtl%2B4%2FjwbZKiIMkdG6Z3#rd" target="_blank">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="new-item">
        <div class="entry-new-pic">
            <a href="https://mp.weixin.qq.com/s?__biz=MjM5NDM1ODA2MQ==&mid=2650432266&idx=1&sn=29f9a1c912bb425231e8ca4944aa205f&chksm=be86354889f1bc5e4675404c5f09def7c54598fad2dafaf33ccd64b3c1e6b4f074124d419981&mpshare=1&scene=1&srcid=0615YlY2AuIgbDkfdZIMsSBs&pass_ticket=Zn1xp0TNyKgemnXZ9uwuAzNXwkF%2BGbmjpmB6HJcZGChLgtl%2B4%2FjwbZKiIMkdG6Z3#rd" target="_blank"><img src="/images/new2.png" /></a>
        </div>
        <div class="entry-new-detail">
            <h3>卡慕鉴赏系列之名贵酒杯知多少</h3>
            <p>所谓好马配好鞍，好酒也一定要配上好杯。且不说名贵的酒杯持在手中有着非凡的高贵体验，一支高品质的酒杯对于酒液的呈现也有着至关重要的作用，甚至会影响到对于酒液的品鉴。</p>
            <div class="read-more">
                <a href="https://mp.weixin.qq.com/s?__biz=MjM5NDM1ODA2MQ==&mid=2650432266&idx=1&sn=29f9a1c912bb425231e8ca4944aa205f&chksm=be86354889f1bc5e4675404c5f09def7c54598fad2dafaf33ccd64b3c1e6b4f074124d419981&mpshare=1&scene=1&srcid=0615YlY2AuIgbDkfdZIMsSBs&pass_ticket=Zn1xp0TNyKgemnXZ9uwuAzNXwkF%2BGbmjpmB6HJcZGChLgtl%2B4%2FjwbZKiIMkdG6Z3#rd" target="_blank">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="new-item">
        <div class="entry-new-pic">
            <a href="https://mp.weixin.qq.com/s?__biz=MjM5NDM1ODA2MQ==&mid=2650432229&idx=1&sn=4df2e7414d15ff6c1ddf245913aa9859&chksm=be8634a789f1bdb1bbe80d5c36a1f804569010f44c65151b31a171bace87fef74e8ab44ab578&mpshare=1&scene=1&srcid=0615NXYeeF1tb3gYwYRcsqwC&pass_ticket=Zn1xp0TNyKgemnXZ9uwuAzNXwkF%2BGbmjpmB6HJcZGChLgtl%2B4%2FjwbZKiIMkdG6Z3#rd" target="_blank"><img src="/images/new3.png" /></a>
        </div>
        <div class="entry-new-detail">
            <h3>威士忌新品季 | 格兰路思1969年单桶威士忌</h3>
            <p>单桶威士忌，是指完全只采用单一酒桶里的酒液进行装瓶的威士忌酒款。</p>
            <div class="read-more">
                <a href="https://mp.weixin.qq.com/s?__biz=MjM5NDM1ODA2MQ==&mid=2650432229&idx=1&sn=4df2e7414d15ff6c1ddf245913aa9859&chksm=be8634a789f1bdb1bbe80d5c36a1f804569010f44c65151b31a171bace87fef74e8ab44ab578&mpshare=1&scene=1&srcid=0615NXYeeF1tb3gYwYRcsqwC&pass_ticket=Zn1xp0TNyKgemnXZ9uwuAzNXwkF%2BGbmjpmB6HJcZGChLgtl%2B4%2FjwbZKiIMkdG6Z3#rd" target="_blank">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="new-item">
        <div class="entry-new-pic">
            <a href="https://mp.weixin.qq.com/s?__biz=MjM5NDM1ODA2MQ==&mid=2650432222&idx=1&sn=e5a62a64451b5c7874d8f547e82ee671&chksm=be86349c89f1bd8a5a65ee67e8e4c2edb299f7ca8b30e6b043f04ebb1f54f9519f373d53dade&mpshare=1&scene=1&srcid=0615NmgWpfPRLDoCT0jGsbeQ&pass_ticket=Zn1xp0TNyKgemnXZ9uwuAzNXwkF%2BGbmjpmB6HJcZGChLgtl%2B4%2FjwbZKiIMkdG6Z3#rd" target="_blank"><img src="/images/new4.png" /></a>
        </div>
        <div class="entry-new-detail">
            <h3>卡慕远流四月精彩活动回顾，2017 上海美国商会年度慈善晚宴</h3>
            <p>四月的春光溢彩即将接近尾声，今天就请追随我们的脚步，看看卡慕远流在这个生机勃勃的时节又为大家奉上了哪些精彩无限的瞬间！</p>
            <div class="read-more">
                <a href="https://mp.weixin.qq.com/s?__biz=MjM5NDM1ODA2MQ==&mid=2650432222&idx=1&sn=e5a62a64451b5c7874d8f547e82ee671&chksm=be86349c89f1bd8a5a65ee67e8e4c2edb299f7ca8b30e6b043f04ebb1f54f9519f373d53dade&mpshare=1&scene=1&srcid=0615NmgWpfPRLDoCT0jGsbeQ&pass_ticket=Zn1xp0TNyKgemnXZ9uwuAzNXwkF%2BGbmjpmB6HJcZGChLgtl%2B4%2FjwbZKiIMkdG6Z3#rd" target="_blank">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="new-item">
        <div class="entry-new-pic">
            <a href="https://mp.weixin.qq.com/s?__biz=MjM5NDM1ODA2MQ==&mid=2650432197&idx=1&sn=d123c7c58da7ce402c752b54f2d847d1&chksm=be86348789f1bd911a1bf52a3a0774c9fd4780b1cf94346a98169e0f4cc07101921cab27ed57&mpshare=1&scene=1&srcid=0615y4xRy52kqKbLnSkukyBX&pass_ticket=Zn1xp0TNyKgemnXZ9uwuAzNXwkF%2BGbmjpmB6HJcZGChLgtl%2B4%2FjwbZKiIMkdG6Z3#rd" target="_blank"><img src="/images/new5.png" /></a>
        </div>
        <div class="entry-new-detail">
            <h3>继往开来之作 —— 卡慕 Cuvée 5.150</h3>
            <p>卡慕家族五代人之间不断传承却又独特的个性，启发了 Cuvée 5.150 的诞生。</p>
            <div class="read-more">
                <a href="https://mp.weixin.qq.com/s?__biz=MjM5NDM1ODA2MQ==&mid=2650432197&idx=1&sn=d123c7c58da7ce402c752b54f2d847d1&chksm=be86348789f1bd911a1bf52a3a0774c9fd4780b1cf94346a98169e0f4cc07101921cab27ed57&mpshare=1&scene=1&srcid=0615y4xRy52kqKbLnSkukyBX&pass_ticket=Zn1xp0TNyKgemnXZ9uwuAzNXwkF%2BGbmjpmB6HJcZGChLgtl%2B4%2FjwbZKiIMkdG6Z3#rd" target="_blank">READ MORE</a>
            </div>
        </div>
    </div>
</div>
