
<div class="entry-brand-banner">
    <div class="container">
        <div class="entry-title">
            <h1>品牌信息</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="entry-dis-content">
        <h1>格兰路思威士忌</h1>
    </div>
    <div class="entry-brand-wrap">
        <div class="entry-brand-info row flex ">
            <div class="col col-4">
                <div class="entry-brand-pic"><img src="/images/b3.jpg" /></div>
            </div>
            <div class="col col-8">
                <div class="entry-brand-txt">
                    <p>
                        格兰路思单一麦芽威士忌创立于1879年，来自威士忌故乡北苏格兰心脏地带顶级蒸馏厂，是屡次获奖的斯贝河畔单一麦芽威士忌品牌。我们採用长时间蒸馏，由高耸的铜壶蒸馏器中淬取最优质的威士忌。此外，我们相信透过精心挑选的橡木桶来熟成威士忌的过程中，能另外萃取更多不同的丰郁香气。格兰路思的每一个年份酒款都有其各自的特色，也同时保有格兰路思的四种代表性风味－水果乾、柑橘、香草与辛香料，且口感馥郁、多元化、酒体匀称。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>