
<div class="entry-brand-banner">
    <div class="container">
        <div class="entry-title">
            <h1>品牌信息</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="entry-dis-content">
        <h1>露黛尼葡萄酒</h1>
    </div>
    <div class="entry-brand-wrap">
        <div class="entry-brand-info row flex ">
            <div class="col col-4">
                <div class="entry-brand-pic"><img src="/images/b5.jpg" /></div>
            </div>
            <div class="col col-8">
                <div class="entry-brand-txt">
                    <p>
                        海玛酒庄是梅多克地区最古老酒庄之一，建于17世纪，因其特有的色彩在梅多克众多酒庄中独树一帜，并获得了“粉红城堡”的美誉。酒庄临近大西洋入海港湾而建，占地多达132公顷，地理位置优越，也是唯一一个拥有私人码头的酒庄。
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>
                        海玛酒庄它座落于距大西洋仅40公里两个圆丘之上，正对海湾的东西侧。得天独厚的地理位置非常适宜赤霞珠和美乐生长。更是请到了著名酿酒大师米歇尔·罗兰（Michel-Rolland）作为酿酒顾问。海玛酒庄红葡萄酒备受嘉奖并享有很高的声誉，产品系列有红葡萄酒、白葡萄酒及粉红葡萄酒。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>